html {
    background-color: beige;
}

h1 {
    color: white;
    text-align: center; 
    text-shadow: -2px -2px #000
}

h2 {
    color: white;
    text-align: center;
}

div {
    max-width: 700px;
    max-height: 700px;
    background-color: #16a085;
    margin: 0 auto;
    display: block; 
}

img {
    width: 25%;
    height: 80%;
    margin: 0 auto;
    display: block;
}

p {
    color: white;
    text-align: center;
}